<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: 'DD Serhat Portfolio', sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, id: :blog_title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, id: :blog_body, class: 'form-control', placeholder: 'Content' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>