<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator(error) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.radio_button(:status, 'draft') %>
    <%= form.label(:status, 'Draf') %>
    <%= form.radio_button(:status, 'published') %>
    <%= form.label(:status, 'Published') %>
  </div>

  <div class="form-group">
    <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                               {
                                   selected: blog.topic.id,
                                   include_blank: true
                               },
                               class: 'form-control'
                               )
    %>
  </div>

  <div class="form-group">
    <%= form.text_field :title, id: :blog_title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, id: :blog_body, class: 'form-control', placeholder: 'Content' %>
  </div>

  <input type="hidden" name="blog[user_id]" value="<%= current_user.id %>">

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>