<%= form_with(model: portfolio_item, local: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :portfolio_title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle %>
        <%= form.text_field :subtitle, id: :portfolio_subtitle, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :blog_body, class: 'form-control', rows: 13 %>
      </div>
    </div>

    <div class="col-md-12">
      <h2>Technologies Used:</h2>

      <div class="form-group">
        <ul>
          <%= form.fields_for :technologies do |t_form| %>
          <li>
            <%= t_form.label :name %>
            <%= t_form.text_field :name, class: 'form-control' %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="form-group">
        <%= form.submit 'Save Portfolio Item', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>
