<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <%= video_tag(
                  'HardDrivePhotojpeg.mp4',
                  id: 'background',
                  autoplay: true,
                  loop: true,
                  muted: true,
                  poster: 'home_bg.jpg'
              )
          %>

        <%= render 'shared/application_nav' %>

        <%= yield %>

        <%= render 'shared/application_footer' %>

        <%= source_helper('application') %>

        </div>
      </div>
    </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'shared/alerts' %>
  </body>
</html>
